.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  font-family: "Fira Code", monospace;
  border: 0;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 5px 5px 8px #c4c4c4, -5px -5px 8px #ffffff;
  &:active {
    transition: transform 0.03s linear;
    transform: scale(1.075);
  }
}

.settings {
  display: flex;
  align-items: center;

  &__button {
    border: 0;
    font-size: 1.25rem;
    height: 2rem;
    width: 2rem;
  }

  &__counter {
    font-size: 2.25rem;
  }

  &__wrapper {
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.start {
  font-size: 1.25rem;
  height: 3.5rem;
  width: 7rem;
  margin-top: 2rem;
}

.units {
  font-family: "Fira Code", monospace;
  margin-top: 1rem;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
